#idea
.idea
*.iml
out

#java
*.class
#*.jar
*.war
*.ear

#elastic
data

#vscode
.classpath
.project
*/bin
*/.settings
.settings
.DS_Store

*.classpath
*.project
target
.idea/
.springBeans
*-log
df-logs
logs
LOG_PATH_IS_UNDEFINED